<!DOCTYPE html>
<html>
<head>
    <title>Thingiverse Quote Request</title>
<body>
    <div>
        <label for="thingiverseUrl">Thingiverse URL:</label>
        <input type="text" id="thingiverseUrl" name="thingiverseUrl" placeholder="which thing">
    </div>
    <div>
        <label for="thingiverseApiToken">Thingiverse API Token:</label>
        <input type="text" id="thingiverseApiToken" name="thingiverseApiToken" placeholder="your-api-token">
    </div>
    <div>
        <label for="storageBucket">Google Storage Bucket:</label>
        <input type="text" id="storageBucket" name="storageBucket" placeholder="your-gcp-bucket"> 
    </div>
    <div>
        <label for="slant3dApiKey">Slant 3D API Key:</label>
        <input type="text" id="slant3dApiKey" name="slant3dApiKey" placeholder="your-api-token">
    </div>
    <button type="button" id="getQuoteButton">Get Quotes</button>
    <div id="results"></div>
    <script src="script.js"></script> </head>
</body>
</html>
