<!DOCTYPE html>
<html>
<head>
    <title>Thingiverse Quote Request</title>
    <style>
        #results {
            margin-top: 20px;
        }
        iframe {
            max-width: 100%;
            max-height: 100%;
        }
    </style>
</head>
<body>
    <div>
        <label for="thingiverseId">Thingiverse Thing ID:</label>
        <input type="text" id="thingiverseId" name="thingiverseId">
    </div>
    
    <button type="button" id="getQuoteButton">Get Quotes</button>
    <div id="results"></div>
    <div id="imageContainer"></div> <!-- Separate div for the image -->

</body>
<script src="script.js" defer></script> 
</html>
